.car-img {
  margin: 12px 0;
  width: 88px;
  height: 66px;
}

.car-list {
  border-top: .5px solid #e7e7e7;
  border-bottom: .5px solid #e7e7e7;
}

.car-list:first-child {
  border-top: 0;
}

.item:last-child {
  border-bottom: 0;
}

.car-info {
  width: 100%;
  position: relative;
  margin: 12px 0 12px 12px;
}

.display-name {
  font-size: 15px;
  color: #41464c;
}

.price {
  color: #f64f4f;
}

.subtitle {
  width: 98%;
  margin-top: 2px;
  font-size: 14px;
  color: #adb1b7;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.car-shop {
  margin-top: 8px;
  font-size: 11px;
  color: #acb1b7;
}
