.html-info {
  margin-bottom: 60px;
}

.html-info figure {
  margin: 0;
}

.html-info img {
  width: 100%;
}

.mint-cell .mint-cell-text {
  font-size: 15px;
  color: #41454d;
}

.mint-cell .mint-cell-value {
  font-size: 12px;
}
