.user-info {
  margin-top: 44px;

  .mint-cell .mint-cell-title {
    font-size: 14px;
  }

  .head-img {
    padding: 12px 2px;
    width: 56px;
    height: 56px;
  }

  .info {
    padding-top: 12px;
  }

  .list {
    margin: 12px 0;
  }

  .item {
    font-size: 14px;
  }
}
